@using SitServerController.Models
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager


<MudTable class="rounded-lg" @ref="_playerTable" T="PlayerInformation" MultiSelection="true" Items="@PlayerList" Square="@_square" Dense="@_dense" Hover="@_hover" Bordered="@_bordered" Striped="@_striped" Style="background: #191919; padding-left: 2em; padding-right: 2em;">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Registered Player List</MudText>
                <MudSpacer/>
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh Style="width: 5em;">Username</MudTh>
                <MudTh Style="width: 25em;">Nickname</MudTh>
                <MudTh Style="width: 13em;">Faction</MudTh>
                <MudTh Style="width: 5em;">Current Level</MudTh>
                <MudTh Style="width: 6em;">Current EXP</MudTh>
                <MudTh Style="width: 10em;">Next Level</MudTh>
                @* <MudTh Style="width: 15em">Max Level</MudTh> *@
                <MudTh Style="width: 40%">Action Buttons</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Username">@context.Username</MudTd>
                <MudTd DataLabel="Nickname">@context.Nickname</MudTd>
                <MudTd DataLabel="Faction">@context.Side</MudTd>
                <MudTd DataLabel="Current Level">@context.currlvl</MudTd>
                <MudTd Style="width: 15%" DataLabel="Current Exp">@context.currexp xp</MudTd>
                <MudTd Style="width: 15%" DataLabel="Next Level">@context.nextlvl xp</MudTd>
                <MudTd Style="width: 15%" DataLabel="Action Buttons">
                    <div style="padding: 10px; font-size: 16px;">
                        <MudButton @onclick="@(() => OpenProfilePage(@context.Username))" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Person" Color="Color.Dark">Details</MudButton>
                    </div>
                </MudTd>
                @* <MudTd DataLabel="Max Level">Max: @context.maxlvl</MudTd> *@
                

            </RowTemplate>

            <PagerContent>
                <MudTablePager/>
            </PagerContent>
        </MudTable>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@_hover" Color="Color.Primary">Hover</MudSwitch>
    <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary">Dense</MudSwitch>
    <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary">Striped</MudSwitch>
    <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning">Bordered</MudSwitch>
    <MudSpacer/>
    <div style="min-width:200px;">
        <MudText Inline="true">Selected items: @(_selectedItems == null ? "" : string.Join(", ", _selectedItems.OrderBy(x => x.Nickname).Select(x => x.Nickname)))</MudText>
    </div>
</div>

@code {
    [Parameter] public IEnumerable<PlayerInformation> PlayerList { get; set; }
    
    private string _searchString;
    private MudTable<PlayerInformation> _playerTable;
    private HashSet<PlayerInformation> _selectedItems = new HashSet<PlayerInformation>();
    private bool _square = true;
    private bool _dense = true;
    private bool _hover = true;
    private bool _striped = false;
    private bool _bordered = false;
    
    
    private void OpenProfilePage(string username)
    {
        navigationManager.NavigateTo($"/PlayerInfo/{username}");
    }
}